SUPABASE_URL=https://ckgurmwyhrqokzhdfmbk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrZ3VybXd5aHJxb2t6aGRmbWJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMjM4ODIsImV4cCI6MjEwNDc5OTg4Mn0.EBPbDMAoWlYy1K9RY5RxepRiEXLZeewRJ5qqE8Seo_U
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrZ3VybXd5aHJxb2t6aGRmbWJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTIyMzg4MiwiZXhwIjoyMTA0Nzk5ODgyfQ.HIa1m7dzNs5vwmYfL5KmyU_Y8cYOLAbYMPzrICm00I0
